*.L
*.o
*.O
vednn_conv_test
vednn_linear_test
vednn_pool_test

mnist
*.i
*.lo
*-x86
*-ve
*-x86.log
vednn-ftrace1
*old
ve_simpleconv
?*.log
ve_cmpconv
libcjit*.a
libcjit*
cjitConv01
libmega*
jitconv
tmp_cjit*
