**/*.o
**/*.O
**/*.s
**/*.L
**/*.LL
**/*.sw?
**/*.bak
**/mk.log
**/bld.log
**/?.log
**/*.diff
**/*.gch
**/ftrace.out
vednn
vednnx
build
vednnx
vejit
vednn*.tar.gz
build-*
mk-vednn*.log
mk-ft1*.log
mk-build.log
mk-vednn*.log
mk-ft1*.log
mk-build.log
vejit-ncc*gz
install
mk*.log
?.log
